.dashboard-container {
  padding: 20px;
}

.dashboard-paper {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.dashboard-paper.effect-section:hover {
  transform: scale(1.03);
}

.dashboard-value {
  font-weight: bold;
  font-size: 28px;
  color: #333;
}

.text-effect-section .dashboard-value {
  color: #4caf50;
}

.same-size {
  height: 230px;
}

.equal-height {
  min-height: 270px; /* Ensure all boxes have the same height */
}

.dashboard-paper .MuiTypography-body2 {
  white-space: normal;
  overflow-wrap: break-word;
}

